.hotels{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 19px;
    gap: 20px;
    flex-direction: column;
}
.hotelcontainer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 30px;
}
.hotelsinfo{
flex:1;
background-color: rgb(234 163 34);  
display: flex;
flex-direction: column;
gap: 10px;
border-radius: 14px;
height: max-content;
position: sticky;
top: 10px;
}
.hotelsinfo>h1{
    color: #d1082b;
    font-size: 40px;
    margin-left:12px;
}
.hotelsinfo>span{
    margin-left:12px;
}
.hotelsLists{
    flex: 2;
}
.destinaton{
    width: 60%;
    margin: 2px 4px;
    padding: 10px 3px;
    outline: none;
    border: 2px solid bla
}
.dates{
    margin: 2px 7px;
    font-size: 20px;
}
.quantinfo{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 2px 7px;
}
.quantinfo>input{
    width: 60px;
}
.filtercont{
    width: 100%;
    max-width: 1024px;
    /* background-color: red; */
    margin-top: 0px;
    display: flex;
}
.hfilter{
    order: 2px solid;
    width: 48px;
    padding: 7px 7px;
    border-radius: 12px;
    margin-top: 12px;
    font-weight: bolder;
    cursor: pointer;
    border: 1px solid black;
    background-color: rgb(194, 66, 87);
}
.hfilter:hover{
    background-color: #226953
}
.filters{
    position: absolute;
    left: 100px;
    bottom: 1px;
    transition: width 2s;
}
.filtercont{
    display: flex;
    gap: 20px;
    position: relative; 
}   
.filtertypes{
    padding: 6px 6px;
    color: black;
    font-weight: bold;   
    border-radius: 11px;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}
