.btn{
    padding: 11px 16px;
    background-color:black;
    border-radius: 4px;
    color: white;
    margin: 10px 10px;
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color:rgb(194, 66, 87);
}